#image-container {
    display: inline-block;
}

#image-orig {
    width: 350;
    height: 350px;
}

#images-to-compare {
    display: inline-block;
    vertical-align: top;
}

.image-compare {
    max-width: 350px;
    max-height: 350px;
}

#juxtaposition-container {
    /* FIXME: This does not work. The image will extend past the viewport, even with max-heigth/width set */
    min-width: 30%;
    float: right;
}

#images-to-compare div {
	display: inline-block
}
