<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
    <script src="https://unpkg.com/jcrop"></script>

    <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">

    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>

    <title>{{ title }}</title>
</head>

<body>
    <div id="container">
        <div id="image-orig-container">
            <img id="image-orig" src="static/image/uploaded/{{ uploaded_image_id }}">
        </div>
        <div id="image-juxtaposition">
        </div>
    </div>
    <div id="images-to-compare">
        {% if similar_images %}
            {% for image_id in similar_images %}
              <div><img class="image-compare" src="static/image/thumb/{{ image_id }}"></div>
            {% endfor %}
        {% else %}
            No similar images found
        {% endif %}
    </div>
</body>

</html>
